/* Define um estilo para o contêiner de criação de cliente */
.create_client_container {
    -fx-background-color: #EEEEEE; /* Define a cor de fundo */
}

/* Define estilos para texto dentro do contêiner de criação de cliente */
.create_client_container Text {
    -fx-font-size: 1.2em; /* Define o tamanho da fonte */
    -fx-fill: #888888; /* Define a cor do texto */
}

/* Define estilos para o contêiner VBox dentro do contêiner de criação de cliente */
.create_client_container VBox {
    -fx-border-width: 0 0 0 1; /* Define a largura da borda à direita */
    -fx-border-color: #000000; /* Define a cor da borda */
    -fx-padding: 10; /* Define o preenchimento interno */
    -fx-spacing: 15; /* Define o espaçamento entre os filhos */
}

/* Define estilos para campos de texto (TextField) dentro do contêiner de criação de cliente */
.create_client_container TextField {
    -fx-pref-width: 250; /* Define a largura preferencial */
    -fx-pref-height: 35; /* Define a altura preferencial */
    -fx-background-color: #FFFFFF; /* Define a cor de fundo */
    -fx-font-size: 1.3em; /* Define o tamanho da fonte */
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3); /* Adiciona sombra */
}

/* Define estilos para um rótulo específico (payee_address_lbl) */
.payee_address_lbl {
    -fx-pref-width: 250; /* Define a largura preferencial */
    -fx-pref-height: 30; /* Define a altura preferencial */
    -fx-padding: 5; /* Define o preenchimento interno */
    -fx-background-color: #888888; /* Define a cor de fundo */
    -fx-background-radius: 5; /* Define o raio do arredondamento das bordas */
    -fx-text-fill: #FFFFFF; /* Define a cor do texto */
    -fx-font-size: 1.3em; /* Define o tamanho da fonte */
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3); /* Adiciona sombra */
}

/* Define estilos para botões (Button) dentro do contêiner de criação de cliente */
.create_client_container Button {
    -fx-background-color: linear-gradient(to right, #132A13, #253F25); /* Define um gradiente de fundo */
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3); /* Adiciona sombra */
    -fx-pref-width: 250; /* Define a largura preferencial */
    -fx-font-size: 1.5em; /* Define o tamanho da fonte */
    -fx-font-family: "Calibri Light"; /* Define a família da fonte */
    -fx-text-fill: #FFFFFF; /* Define a cor do texto */
}

/* Define estilos para o estado hover (quando o mouse está sobre) dos botões */
.create_client_container Button:hover {
    -fx-cursor: hand; /* Altera o cursor para a mão quando hover */
}

/* Define estilos para um rótulo específico (error_lbl) usado para exibir mensagens de erro */
.error_lbl {
    -fx-text-fill: #FF0000; /* Define a cor do texto como vermelho */
}
